footer {
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  /* max-width: 1200px;
  padding: 40px 24px 24px; */
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    /* padding: 40px 32px 24px; */
  }
}

@media (width >= 1600px) {
  footer .footer {
      max-width: unset;
      margin: auto;
  }

  footer .footer {
    padding-left: 9vw;
    padding-right: 9vw;
}
}
